.App {
  text-align: left;
}
.header{
  background-color: black;
  color: grey;
  /* height: 40px; */
  font-size: 30px;
}
.sider{
  background-color:#80808029;
  /* position: absolute; */
  height: 100%;
}
.sider ul{
  padding-top: 20%;
}
.sider ul li{
  margin-bottom: 15px;
}
.content{
  background-color: white;
  overflow-x: none;
}
.breadcrumb{
  background-color:#80808029;
  padding-top: 0.4%;
    font-size: 16px;
    padding-left: 2%;
    margin: 2%;
    height: 15%;
}
.user{
  background-color: 0092ff;
}
.transList{
  border: 2px solid rgb(0, 146, 255);
  margin: 2%;
  height: 100%;
}
.transList header{
  background-color: rgb(0, 146, 255);
  color: white;
  padding-left: 2%;
  font-size: 20px;
}
.body{
  position: absolute;
    height: 91%;
    margin-top: 4.1%;
    width: 100%;
}